main,
.app-screen {
    display: flex;
    height: 100%;
    width: 100%;
}

.app-screen {
    flex-direction: row;
    width: 100%;
    
    main {
        flex-direction: column;
        padding-left: 75px;
        overflow: hidden;
    }
}