main,
.app-screen {
    display: flex;
    height: 100%;
    width: 100%;
}

.app-screen {
    flex-direction: row;
    width: 100%;
    
    main {
        flex-direction: column;
        margin-left: 75px;
        overflow-x: hidden;
    }
}

.main {
    width: 100vw;
    overflow-x: hidden;
    padding-left: 75px;
    color: white;
}