.games {
    color: white;
    background-color: rgba(25, 25, 25, 0.904);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        margin: 50px 0;
    }

    .wrapper-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding-bottom: 50px;
    }
}

.card-game {
    width: 300px;
    height: 400px;
    max-height: 400px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    color: white;
    z-index: 0;
    transition: all ease .5s;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 75%;
        object-fit: cover;
        z-index: -1;
        transition: transform .3s;
    }

    .description-game {
        text-align: right;
        position: absolute;
        top: 50%;
        right: 0;
        margin: 10px 20px;

        p {
            margin: 1px 0;
        }

        #size {
            margin-bottom: 10px;
            color: rgb(153, 153, 153);
        }
    }

    &::after{
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(
            0deg,
            rgba(0,0,0,1) 0%,
            rgba(0,0,0,1) 12%,
            rgba(0,0,0,1) 25%,
            rgba(0,0,0,1) 38%,
            rgba(0,0,0,0.6278886554621849) 50%,
            rgba(0,0,0,0.5242471988795518) 64%,
            rgba(0,0,0,0.43461134453781514) 75%,
            rgba(0,0,0,0.227328431372549) 87%,
            rgba(0,0,0,0.08167016806722693) 100%
        );
        transition: transform .3s;
    }

    &:hover {
        transform: scale(1.05);
        transition: all ease .5s;
        overflow: hidden;

        img {
            overflow: hidden;
            transform: scale(1.2);
            transition: transform .3s;
        }

        &::after {
            transform: scale(1.2);
            transition: transform .3s;
        }
    }
}

.game-detail {
    color: white;
    padding-left: 75px;
    width: 100%;
    height: 100%;
    z-index: 0;
    
    .b-game {
        width: 100%;
        height: 500px;
        position: relative;
        
        .h-game {
            // position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .h-b-image {
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: translateX(25%);
            }

            .h-content {
                width: 50%;
                z-index: 2;
                top: 50%;
                padding-left: 5%;

                .go-back {
                    position: absolute;
                    top: 5%;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 5%;
                    font-size: 15px;
                }

                h1 {
                    font-size: 70px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    90deg,
                    rgba(0,0,0,1) 35%,
                    rgba(0,0,0,0) 100%
                ); 
            }
        }
    }

    .c-game {
        padding: 10px;
        margin-top: 25px;
        display: grid;
        width: 100%;
        grid-template-columns: 75% 25%;

        .json {
            padding: 25px;
            color: white;

            .subtitle {
                margin-top: 50px;
            }

            .c-g-images {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 30%;
                position: relative;
                z-index: 0;
                
                .i-prev, .i-next {
                    position: absolute;
                    z-index: 1;
                    font-size: 40px;
                    height: 100%;
                    width: 10%;
                    background-color: rgba(0, 0, 0, 0.658);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    i {
                        cursor: pointer;
                    }
                }

                .i-prev {
                    left: 0;
                }

                .i-next {
                    right: 0;
                }

                img {
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .g-images {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            .c-image-game {
                width: 30%;
                margin: 10px;
                object-fit: cover;
            }
        }

        .buy-zone {
            background: rgb(15, 15, 15, 0.9);
            padding: 25px;

            .price {
                width: 100%;
                margin: 25px 0;
                display: flex;
                flex-direction: row;
                align-content: center;
                align-items: center;

                .new-price {
                    margin-right: 10px;
                }

                .original-price {
                    color: gray;
                    text-decoration: line-through;
                }
            }

            .discount-display {
                margin-top: -20px;

                .discount-value {
                    margin-bottom: -1px;
                }

                .discount-date {
                    color: rgb(255, 75, 75);
                }
            }

            .buttons-buy {
                button {
                    color: white;
                    margin-top: 5px;
                }
    
                .add-cart {
                    width: 80%;
                    min-width: 150px;
                    background-color: purple;
                    margin-right: 2px;
                }
    
                .fav {
                    width: 19%;
                    background-color: purple;
                    min-width: 50px;
                }
    
                .buy {
                    margin-top: 15px;
                    min-width: 150px;
                    background-color: blueviolet;
                }
                
                .guarantee {
                    margin-top: 25px;
                    text-align: center;
                    font-size: 15px;
                }
            }
        }

        .features {
            margin-top: 25px;
            background-color: rgba(15, 15, 15, 0.9);
            padding: 25px;

            p {
                margin: 5px 0;

                i {
                    text-transform: uppercase;
                    color: gray;
                }
            }
        }
    }
}

.tags, .tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tags {
    width: 80%;
    margin-top: 20px;
}

.tag {
    background: rgb(62, 46, 71);
    padding: 3px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;

    i {
        margin-right: 5px;
    }
}

.table {
    color: white;
    margin: 50px 0;
    border: 1px solid rgb(27, 25, 25);

    thead {
        text-align: center;
    }

    th {
        border: none;
    }

    .th-comp {
        width: 30%;
    }
}