.sidebar,
.option {
    display: flex;
    align-items: center;
}

.logo,
.option,
.user {
    font-size: 25px;
    color: white;
}

.sidebar {
    z-index: 100;
    position: fixed;
    flex-direction: column;
    width: 75px;
    height: 100%;
    padding: 0;
    justify-content: center;
    background-color: black;
    
    .logo {
        position: fixed;
        height: 100px;
        top: 25px;
        left: 25px;
    }
    
    .options {
        position: fixed;
        list-style: none;
        padding: 0;
        width: 75px;
        
        .active-option {
            display: flex;
            background-color: rgba(35, 42, 46, 0.712);
            width: 75px;
            height: 75px;
            justify-content: center;
            align-items: center;
        }

        .option {
            justify-content: center;
            text-align: center;
            height: 75px;
            z-index: -100;
            transition: background-color 0.5s;

            i {
                display: block;
            }
            
            .tooltip {
                display: inline-block;
                position: fixed;
                color: white;
                font-size: 15px;
                justify-content: center;
                left: 90px;
                opacity: 0;
                z-index: -100;
                pointer-events: none;
            }

            &:hover {
                color: white;
                background-color: rgb(35, 42, 46);
                transform: scale(1.1);
                transition: background-color 0.5s;

                .tooltip {
                    opacity: 1;
                    transition: opacity .5s;
                }
            }

            
        }
    }

    .user {
        position: fixed;
        bottom: 0;
        width: 75px;
        padding: 10px 0;
        text-align: center;

        .user-link {
            color: white;
            position: relative;
            
            i {
                color: white;
            }

            .tooltip-user {
                position: absolute;
                width: 250px;
                background-color: black;
                left: calc(100%  +  15px);
                bottom: 0;
                border-radius: 10px;
                box-shadow: 
                    rgba(255, 255, 255, 0.1) 0 4px 16px
                    rgba(255, 255, 255, 0.05) 0 8px 32px;
                opacity: 0;
                transform: scale(0);
                transform-origin: bottom left;
                transition: transform .4s, opacity .2s;

                .user-menu {
                    list-style: none;
                    padding: 5px 0;
                    margin: 0;
                    border-radius: 10px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.466);

                    .url-user {
                        text-decoration: none;
                        color: white;
                    }

                    li {
                        padding: 8px 30px;
                        font-size: 17px;
                        cursor: pointer;
                        margin: 5px;
                        color: white;
                        text-decoration: none;

                        &:hover {
                            background-color: rgba(211, 208, 208, 0.219);
                        }
                    }
                }
            }
        }
        
        &:hover {
            background-color: rgba(56, 55, 55, 0.712);
            transition: background-color 0.5s;
            color: rgb(173, 173, 173);

            .user-link {

                .tooltip-user {
                    opacity: 1;
                    z-index: 0;
                    transform: scale(1);
                    transition: opacity .2s, transform .1s;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 10px;
                        left: -7px;
                        z-index: -10;
                        width: 20px;
                        height: 20px;
                        background-color: black;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}
