.e-label {
    background: #663e81;
    padding: 1em;
    color: white;
    border-radius: 10px;
    margin: 5px;
}

.e-characters {
    background: #584564;
    border-radius: 2em;
    padding-top: 3%;
    padding-bottom: 1%;
    color: white;
    text-align: center;
    list-style: none;
}

.e-label-character {
    background: #663e81;;
    padding: 1em;
    color: white;
    border-radius: 10px;
    margin: 5px;
}